extends layout

block content
	link(rel='stylesheet', href='/stylesheets/results.css')
	a(href='/archive') Tillbaka
	h1 Halmstad 2016-05-07
	div(class='male')
		h3 HANAR
		p 
		| A-Final
		br
		| 1 Ghan Buri Ghan's Moon Quake Shake 9.28
		br 
		| 2 AxRace's Dark Dog 9.30 
		br
		| 3 King Of My Heart v. Dia-Robinne 9.40 
		br
		| 4 AxRace's Mambo Jambo 9.73
		br
		| B-Final
		br 
		| 1 AxRace's Bull Fighter 9.49
		br 
		| 2 RaceHeart's MB Will Turner 9.50
		br
		| 3 Isac v. Dia-Robinne 9.52 
		br
		| 4 Flodaskogens Gizzmo 9.62
		br
		| C-final
		br
		| 1  August 9.71
		br
		| 2  Kannibalen's Dead Ringer For Love 9.73
		br
		| 3  Grändens Apollo 9.74
		br
		| 4  Flodaskogens Gozzen 9.76
		br
		| D-final
		br
		| 1  Miraqulix Break Of Dawn	9.81
		br
		| 2  Mibisan's Mr Challenger 10.02
		br
		| 3  Miraqulix Beat It 10.03
		br
		| 4  Swaara Kaleidoscope 10.32
		br
		| E-final
		br
		| 1  Arvid 9.92
		br
		| 2  Pompeca's Gustavus Introitus 10.05
		br
		| 3  Golden Whip H-D's Sunny Topaz 10.14
		br
		| 4  Påmonas Douglas 10.27
		br
		| F-final
		br
		| 1  Tajmahal Hipper-Dipper 10.53
		br
		| 2  Flowertwig's Bark at the Moon 10.55
		br
		| 3  Alfred 10.52 (varnad)
	div(class='female')
		h3 TIKAR
		p 
		| A-Final
		br
		| 1 Raceheart's MB Elisabeth Swann 9.31
		br
		| 2 Iriana v. Dia-Robinne 9.37
		br
		| 3 Izzy-Lizzy v. Dia-Robinne 9.43
		br
		| 4 AxRace's Lady Grey 9.57
		br
		| B-final
		br
		| 1  AxRace's SIA Cassata 9.61
		br
		| 2  Ghan Buri Ghan's Pünktchen 9.73
		br
		| 3  Flodaskogens Graze 9.80
		br
		| 4  Miraqulix Cusquena 9.81
		br
		| C-final
		br
		| 1  AxRace's Black Energy 9.73
		br
		| 2  AxRace's SIA Pistacia 9.76
		br
		| 3  Crazy Owls Eva Ger Järnet 9.77
		br
		| 4  AxRace's SIA Macadamia 9.88
		br
		| D-final
		br
		| 1  Anna-Karin 9.84
		br
		| 2  Flodaskogens Gazza 9.85
		br
		| 3  AxRace's Blå Mocca 9.98
		br
		| 4  Miraqulix Chimay 10.07
		br
		| E-final
		br
		| 1  Astrid 10.08
		br
		| 2  Mibisan's Miss Chiquitita 10.50
		br
		| 3  Miraqulix Contessa 10.67
		br
		| 4  Jalessa Cersei 10.68
		br
		| F-final
		br
		| 1  McTool's Hit &amp; Run 10.68
		br
		| 2  Nanic's and Jacky's Honey 10.70
		br
		| 3  Inner Circles Design for Run 10.96
		br
		| 4 Nebulosans Månsken 10.99 
		br
		| G-final
		br
		| Kvarnhällens Cornelia (Ej i mål)