extends layout

block content
	link(rel='stylesheet', href='/stylesheets/results.css')
	a(href='/archive') Tillbaka
	h1 Kalmar 2016-07-16
	div(class='all')
		p 
		| A-Final
		br
		| 1 Ghan Buri Ghan's Moon Quake Shake 9.28
		br 
		| 2 AxRace's Dark Dog 9.30 
		br
		| 3 King Of My Heart v. Dia-Robinne 9.40 
		br
		| 4 AxRace's Mambo Jambo 9.73
		br
		| B-Final
		br 
		| 1 AxRace's Bull Fighter 9.49
		br 
		| 2 RaceHeart's MB Will Turner 9.50
		br
		| 3 Isac v. Dia-Robinne 9.52 
		br
		| 4 Flodaskogens Gizzmo 9.62
		br
		| C-final
		br
		| 1  August 9.71
		br
		| 2  Kannibalen's Dead Ringer For Love 9.73
		br
		| 3  Grändens Apollo 9.74
		br
		| 4  Flodaskogens Gozzen 9.76
		br
		| D-final
		br
		| 1  Miraqulix Break Of Dawn	9.81
		br
		| 2  Mibisan's Mr Challenger 10.02
		br
		| 3  Miraqulix Beat It 10.03
		br
		| 4  Swaara Kaleidoscope 10.32
		br
		| E-final
		br
		| 1  Arvid 9.92
		br
		| 2  Pompeca's Gustavus Introitus 10.05
		br
		| 3  Golden Whip H-D's Sunny Topaz 10.14
		br
		| 4  Påmonas Douglas 10.27
		br
		| F-final
		br
		| 1  Tajmahal Hipper-Dipper 10.53
		br
		| 2  Flowertwig's Bark at the Moon 10.55
		br
		| 3  Alfred 10.52 (varnad)