extends layout

block content
	link(rel='stylesheet', type='text/css', href='/stylesheets/results.css')
	h1= title
	div(id='results')
		a(href='/160507') Halmstad 2016.05.07
		a(href='/160716') Kalmar 2016.07.16