extends layout

block content
	h1= title
	h2 Välkommen!
	div(id='description', class='floatLeft')
		p På den här sidan kan ni få en live uppdatering från alla tävlingar inom Whippet Race i Sverige.
		p Ni kan även se resultat från tidigare tävlingar under "Arkiv".
		p I galleriet hittar ni några utav mina favoritbilder. Lämna gärna ett meddelande i gästboken!
	img(src='/images/index.jpg', id='indexIMG', class='floatRight')