extends layout

block content
	link(rel='stylesheet', href='/stylesheets/links.css')
	h1= title
	div(class='item')
		a(class='caption', href='http://halmstadwhippetrace.blogspot.se/', target='_blank') Halmstad
			img(src='/images/hstad.jpg')
	div(class='item')
		a(class='caption', href='http://www.kalmarwhippetrace.se/', target='_blank') Kalmar
			img(src='/images/kmar.jpg')
	div(class='item')
		a(class='caption', href='http://www.karlstadwhippetrace.n.nu/', target='_blank') Karlstad
			img(src='/images/kstad.jpg')
	div(class='item')
		a(class='caption', href='http://www.norrkopingwr.cybersite.se/', target='_blank') Norrköping
			img(src='/images/nkpng.jpg')
	div(class='item')
		a(class='caption', href='http://sodertaljewhippetrace.blogspot.se/', target='_blank') Södertälje
			img(src='/images/stalje.jpg')
	div(class='item')
		a(class='caption', href='http://vasteraswhippetrace.blogg.se', target='_blank') Västerås
			img(src='/images/vras.jpg')